//
// Header
//

.header {
    position: relative;
    min-height: 350px;
    background-image: url('../img/theme/cover.jpg') !important;
    background-size: cover !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
}
