  <div class="header bg-gradient-parrish pb-8 pt-5 pt-md-8">  <!-- Mask -->
    <span class="mask bg-gradient-parrish opacity-8"></span>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 col-md-10 d-flex align-items-center text-shadow">
          <h1 class="display-2 text-white">Tratamiento</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-bodega bg-secondary shadow">
          <div class="card-header text-center">
            <div class="row align-items-center">
              <div class="col d-flex align-items-center">
                <i class="fas fa-pills mr-2"></i>
                <h3 class="mb-0">Medicinas</h3>
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="table-responsive" style="height: 270px">
              <table class="table align-items-center table-flush">
                <tbody>
                  <tr *ngFor="let medicine of medicines">
                    <th scope="row">{{ medicine.name }}
                      <span class="badge text-lowercase ml-2" [ngClass]="(medicine.bodega.stock > 50)?'badge-primary':'badge-warning'">{{ medicine.bodega.stock }}  {{medicine.unit.abbreviation}}</span>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <button *ngIf="ingreso.status == 'En espera'" type="button" class="btn btn-primary btn-block mt-3" (click)="saveIngreso()"><i class="fas fa-save mr-2"></i>GUARDAR</button>
        <a href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/dashboard']" *ngIf="ingreso.status != 'En espera'" class="btn btn-default btn-block mt-3"><i class="fas fa-hand-point-left mr-2"></i>VOLVER</a>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0"><i class="fas fa-pencil-ruler"></i> Detalle de Tratamiento</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="details" *ngFor="let detail of details; let i = index">
                <div class="row mb-3">
                  <div class="col-lg-8 d-flex align-items-center">
                    <h6 class="heading-small text-muted"><span style="font-size: 10px" class="btn btn-default rounded-circle py-1 px-2 mr-2">{{ i + 1 }}</span> Descripción de la causa de ingreso</h6>
                  </div>
                  <div class="col-lg-4">
                    <div *ngIf="details.length > 1 && ingreso.status == 'En espera'" class="text-right mt--2">
                      <a href="javascript:void(0)" (click)="deleteCause(i)" ngbTooltip="Eliminar causa" placement="left" style="font-size: 25px;">
                        <span aria-hidden="true">&times;</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="form-group">
                        <label class="form-control-label" for="cause">Causa</label>
                        <select class="form-control" #cause name="cause-{{i}}" [(ngModel)]="detail.id_cause" (change)="setCause(i, cause.options[cause.selectedIndex].text)">
                          <option value="0">Seleccione una opción...</option>
                          <option *ngFor="let cause of causes" [value]="cause.id_cause">{{ cause.description }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="form-group">
                        <label class="form-control-label" for="medicine">Medicina</label>
                        <select #medicine class="form-control" name="medicine-{{i}}" [(ngModel)]="detail.id_medicine" (change)="setMedicine(i, medicine.options[medicine.selectedIndex].text)">
                          <option value="0">Seleccione una opción...</option>
                          <option *ngFor="let medicine of medicines" [value]="medicine.id_medicine">{{ medicine.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="form-control-label" for="qty">Cantidad</label>
                        <input type="number" name="qty-{{i}}" id="qty-{{i}}" class="form-control form-control-alternative" [(ngModel)]="detail.qty" [min]="0" placeholder="0">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <textarea class="form-control" name="comment-{{i}}" id="comment-{{i}}" rows="3" [(ngModel)]="detail.comment" placeholder="Comentario o descripción..."></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="ingreso.status == 'En espera'" class="row">
                  <div class="col text-center">
                    <a href="javascript:void(0)" (click)="addCause()" ngbTooltip="Añadir causa" placement="right" style="font-size: 30px;">
                      <i class="fas fa-plus-circle"></i>
                    </a>
                  </div>
                </div>
                <hr class="my-4" />
              </div>
              <!-- Last Visits -->
              <h6 class="heading-small text-muted mb-4"><i class="ni ni-collection"></i> Resumen</h6>
              <div class="pl-lg-4">
                <div class="table-responsive">
                  <!-- Projects table -->
                  <table class="table align-items-center table-striped table-flush">
                    <thead class="thead-gray">
                      <tr>
                        <th scope="col" class="text-center"><i class="fas fa-hashtag"></i></th>
                        <th scope="col"><i class="ni ni-align-left-2"></i> Causa</th>
                        <th scope="col"><i class="fas fa-pills"></i> Medicina</th>
                        <th scope="col" class="text-center"><i class="ni ni-bold-right"></i> Cantidad</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let detail of details; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{ detail.cause }}</td>
                        <td>{{ detail.medicine }}</td>
                        <td class="text-center">{{ detail.qty }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  