<div class="header bg-gradient-parrish pb-8 pt-5 pt-md-8">
  <!-- Mask -->
  <span class="mask bg-gradient-parrish opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-10 d-flex align-items-center text-shadow">
        <h1 class="display-2 text-white">Causales</h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-sm-4">
      <div class="card bg-gradient-secondary shadow">
        <div class="card-header bg-transparent border-0">
          <div class="row align-items-center">
            <h3 class="mb-0" [innerText]="(action==0) ? 'Crear Causal':'Editar Causal'"><i class="ni ni-single-copy-04"></i> </h3>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="cod_cause">Código</label>
                  <input type="text" name="cod_cause" id="cod_cause" class="form-control" [(ngModel)]="cause.cod_cause">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="name">Descripción</label>
                  <input type="text" name="name" id="name" class="form-control" [(ngModel)]="cause.description">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-default btn-block" (click)="saveCause()"><i class="fas fa-save mr-1"></i>Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-8 mb-xl-0">
      
      <div class="card card-gray shadow">
        <div class="card-header bg-transparent border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0"><i class="ni ni-single-copy-04"></i> Lista de Causales</h3>
            </div>
            <div class="col-4 text-right">
              <input #filter type="text" (keyup)="search($event.target.value)" class="form-control bg-secondary" style="height: 30px;" placeholder="Buscar...">
            </div>
          </div>
        </div>
        
        <div class="table-responsive table-striped" style="height: 415px;">
          <table class="table align-items-center table-flush">
            <thead class="thead-gray">
              <tr>
                <th scope="col" width="20%"><i class="ni ni-key-25"></i> Código</th>
                <th scope="col"><i class="fas fa-question"></i> Descripción</th>
                <th scope="col" width="20%"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cause of filter_causes">
                <th scope="row">{{cause.cod_cause}}</th>
                <td class="text-uppercase">{{cause.description}}</td>
                <td>
                  <a href="javascript:void(0)" class="mx-1 text-default" (click)="getCauseById(cause.id_cause)" ngbTooltip="Editar" placement="right">
                    <i class="fas fa-pencil-alt" style="font-size: 18px;"></i>
                  </a>
                  <a href="javascript:void(0)" class="mx-1 text-danger" (click)="deleteCause(cause.id_cause)" ngbTooltip="Eliminar" placement="right">
                    <i class="fas fa-trash-alt" style="font-size: 18px;"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner type = "ball-clip-rotate-pulse"></ngx-spinner>