<div class="header bg-gradient-parrish pb-8 pt-5 pt-md-8">
  <!-- Mask -->
  <span class="mask bg-gradient-parrish opacity-8"></span>
  <!-- Header container -->
  <!-- <a href="#!" class="btn btn-info">Admitir</a> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-10 d-flex align-items-center text-shadow">
        <h1 class="display-2 text-white">Usuarios </h1>
        <!-- <label class="h3 text-white text-uppercase mt-2 ml-3">Listar / Registrar usuarios</label> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col mb-5 mb-xl-0">
      
      <div class="card card-gray shadow">
        <div class="card-header bg-transparent border-0">
          <div class="row align-items-center">
            <div class="col-6">
              <h3 class="mb-0"><i class="ni ni-single-copy-04"></i> Lista de Usuarios</h3>
            </div>
            <div class="col-6 text-right d-flex align-items-center">
              <input #filter type="text" (keyup)="search($event.target.value)" class="form-control bg-secondary ml-auto mr-3" style="height: 35px; width: 200px" placeholder="Buscar...">
              <button class="btn btn-default p-2" (click)="open(importModal, 'lg')" ngbTooltip="Importar Usuarios"><i class="fas fa-cloud-upload-alt"></i> Importar</button>
              <button class="btn btn-default p-2" (click)="open(userModal, 'lg')" ngbTooltip="Nuevo Usuario"><i class="fas fa-user-plus"></i> Nuevo</button>
            </div>
          </div>
        </div>
        
        <div class="table-responsive table-striped" style="height: 580px;">
          <table class="table align-items-center table-flush">
            <thead class="thead-gray">
              <tr>
                <th scope="col"><i class="ni ni-single-02"></i> Usuario</th>
                <th scope="col"><i class="ni ni-email-83"></i> Email</th>
                <th scope="col"><i class="fas fa-phone"></i> Teléfono</th>
                <th scope="col"><i class="fas fa-address-card"></i> Perfil</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of filter_users">
                <th scope="row" class="text-uppercase">{{user.name}} {{user.first_ln}}</th>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.user_profile.name}}</td>
                <td>
                  <a href="javascript:void(0)" class="mx-1 text-default" (click)="getUserById(user.id_user)" ngbTooltip="Editar" placement="right">
                    <i class="fas fa-user-edit" style="font-size: 18px;"></i>
                  </a>
                  <a href="javascript:void(0)" class="mx-1 text-danger" (click)="inactivateUser(user.id_user)" ngbTooltip="Eliminar" placement="right">
                    <i class="fas fa-user-times" style="font-size: 18px;"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- userModal -->
<ng-template #userModal let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-title" [innerText]="(action==0) ? 'Crear Usuario':'Editar Usuario'"></h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> 
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row mt--4">
        <div class="col-md-8">
          <div class="row mb--3">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="id_user">ID Usuario</label>
                <input type="text" class="form-control" name="id_user"  id="id_user" [(ngModel)]="user.id_user">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="name">Nombres</label>
                <input type="text" class="form-control" name="name"  id="name" [(ngModel)]="user.name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="first_ln">Primer apellido</label>
                <input type="text" class="form-control" name="first_ln" id="first_ln" [(ngModel)]="user.first_ln">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="second_ln">Segundo apellido</label>
                <input type="text" class="form-control" name="second_ln" id="second_ln" [(ngModel)]="user.second_ln">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row justify-content-center">
            <div class="col">
              <div class="card-profile-image">
                <a href="javascript:void(0)" class="rounded-circle" [style.background-image]="safe_photo" (click)="photoInput.click()">
                  <input #photoInput class="d-none" type="file" accept="image/*" multiple="false" (change)="onPhotoChange($event)" (click)="photoInput.value=null">
                </a>
              </div>
              <!-- <div class="text-center border-0 pt-8 pt-md-5 pb-0">
                <div class="d-flex justify-content-between" style="font-size: 18px">
                  <a href="javascript:void(0)" class="btn btn-sm btn-info" (click)="photoInput.click()"><i class="fas fa-edit"></i></a>
                  <a href="javascript:void(0)" class="btn btn-sm btn-default"><i class="fas fa-trash"></i></a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="phone">Teléfono</label>
            <input type="email" class="form-control" name="phone" id="phone" [(ngModel)]="user.phone">
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="phone">Teléfono 2</label>
            <input type="email" class="form-control" name="phone2" id="phone2" [(ngModel)]="user.phone2">
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" [(ngModel)]="user.email">
          </div>
        </div>

      </div>
      
      <div class="row">
        
        <div class="col-md-6">
          <label class="form-label" for="address">Dirección</label>
          <input type="text" class="form-control" name="address" id="address" [(ngModel)]="user.address">
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label" for="perfil">Perfil</label>
            <select class="form-control" name="perfil" id="perfil" [(ngModel)]="user.id_profile">
              <option value="0">Seleccione una opción...</option>
              <option *ngFor="let profile of profiles" [value]="profile.id_profile">{{ profile.name }}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Students -->
      <div *ngIf="user.id_profile == 2">
        
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="unique_id">Unique ID</label>
              <input type="text" class="form-control" name="unique_id"  id="unique_id" [(ngModel)]="user.unique_id">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="birthdate">Fecha de nacimiento</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input class="form-control datepicker" placeholder="Seleccionar" name="dp" ngbDatepicker  #d="ngbDatepicker" (click)="d.toggle()" type="text" [(ngModel)]="user.birthdateFormat" 
                [maxDate]="{year: today.getFullYear(), month: today.getMonth() + 1, day: today.getDate()}" (dateSelect)="formatBirthday()">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="course">Curso</label>
              <select class="form-control" name="course" id="course" [(ngModel)]="user.id_course">
                <option value="0">Seleccione una opción...</option>
                <option *ngFor="let course of courses" [value]="course.id_course">{{ course.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="blood_type">Tipo de Sangre</label>
              <select class="form-control" name="blood_type" id="blood_type" [(ngModel)]="user.blood_type">
                <option value="0">Seleccione una opción...</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" style="border-bottom: 1px solid #CAD1D7">
              <label class="form-label" for="allergies">Alergias</label>
              <select class="form-control selectpicker" title="Seleccione un elemento..." data-live-search="true" multiple data-style="btn" name="allergies" id="allergies" [(ngModel)]="user.allergies">
                <option [selected]="user.allergies.includes(allergy.id_allergy)" *ngFor="let allergy of allergies" [value]="allergy.id_allergy">{{ allergy.name }}</option>
              </select>
              
            </div>
          </div>
        </div>
      </div>
      
      <!-- Teachers -->
      <div *ngIf="user.id_profile == 5">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label" for="unique_id">Unique ID</label>
              <input type="text" class="form-control" name="unique_id"  id="unique_id" [(ngModel)]="user.unique_id">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="teacher_courses">Cursos</label>
              <select class="form-control selectpicker" title="Seleccione un curso..." data-live-search="true" multiple data-style="btn" name="teacher_courses" id="teacher_courses" [(ngModel)]="user.teacher_courses">
                <option [selected]="user.teacher_courses.includes(course.id_course)" *ngFor="let course of courses" [value]="course.id_course">{{ course.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer mt--4">
    <button type="button" class="btn btn-icon btn-default" (click)="saveUser()"><i class="fas fa-save mr-1"></i> Guardar</button>
  </div>
</ng-template>

<!-- importModal -->
<ng-template #importModal let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-title">Importar Usuarios</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> 
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div class="btnInput icon icon-shape bg-gradient-info text-white rounded-circle shadow" (click)="fileInput.click()">
            <i class="fas fa-cloud-upload-alt m-0"></i>
            <input #fileInput class="d-none" type="file" multiple="false" (change)="onFileChange($event)" (click)="fileInput.value=null">
        </div>
        <div class="col border-bottom">
          <label class="text-muted mb-0" [innerText]="(filename) ? filename:'Seleccione un archivo...'"></label>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="table-responsive table-striped" style="height: 350px;">
        <table id="tblImportUsers" class="table align-items-center table-flush">
          <thead class="thead-gray">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombres y Apellidos</th>
              <th scope="col">Email</th>
              <th scope="col">Teléfono 1</th>
              <th scope="col">Teléfono 2</th>
              <th scope="col">Perfil</th>
              <th scope="col">Curso</th>
              <th scope="col">Dirección</th>
              <th scope="col">F. Nacimiento</th>
              <th scope="col">T. Sangre</th>
              <th scope="col">Unique ID</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of data" [ngClass]="{'text-red': user.invalid, 'text-warning': user.duplicate}">
              <th scope="row" [ngClass]="{'has-danger': !user.id_user || user.duplicate}" 
                              [ngbTooltip]="user.duplicate ? 'Este ID ya existe. Si continúa con la importación el usuario será actualizado.':''">{{user.id_user}} </th>
              <td [ngClass]="{'has-danger': !user.name}">{{user.name}} {{user.first_ln}} </td>
              <td [ngClass]="{'has-danger': !user.email}">{{user.email}} </td>
              <td [ngClass]="{'has-danger': !user.phone}">{{user.phone}} </td>
              <td [ngClass]="{'has-danger': !user.phone2}">{{user.phone2}} </td>
              <td [ngClass]="{'has-danger': user.id_profile==0}" [ngbTooltip]="user.id_profile == 0 ? 'No se encontró el perfil':''">{{user.profile}} </td>
              <td [ngClass]="{'has-danger': user.id_course==0}" [ngbTooltip]="user.id_course == 0 ? 'No se encontró el curso':''">{{user.course}} </td>
              <td [ngClass]="{'has-danger': !user.address}">{{user.address}} </td>
              <td [ngClass]="{'has-danger': !user.birthdate}">{{user.birthdate}} </td>
              <td [ngClass]="{'has-danger': !user.blood_type}">{{user.blood_type}} </td>
              <td [ngClass]="{'has-danger': !user.unique_id}">{{user.unique_id}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer mt--4">
    <button type="button" class="btn btn-icon btn-default" (click)="importUsers()" [disabled]="!this.importSuccess"><i class="fas fa-save mr-1"></i> Guardar</button>
  </div>
</ng-template>

<ngx-spinner type = "ball-clip-rotate-pulse"></ngx-spinner>