.card-profile-image {
    a {
        width: 160px;
        height: 160px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: translate(0, -8%);
        margin-left: 14%;
        left: 0;

        
        &:hover {
            transform: translate(0, -13%);
            filter: blur(2px);
            // webkit-filter: blur(2px); /* Chrome, Safari, Opera */
        }
    }
}

.form-label{
    display: inline-block;
    margin-bottom: 0;
    font-size: 13px;
}

.btnInput {
    cursor: pointer;
    &:hover {
        filter: brightness(1.2);
        transform: translateY(-2px);
    }
}

// #tblImportUsers {
//     thead, tbody tr { 
//         display:table; 
//         table-layout:fixed; 
//     }
// }