<div class="header bg-gradient-parrish pb-8 pt-5 pt-md-8">
  <!-- Mask -->
  <span class="mask bg-gradient-parrish opacity-8"></span>
  <!-- Header container -->
  <!-- <a href="#!" class="btn btn-info">Admitir</a> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-10 d-flex align-items-center text-shadow">
        <h1 class="display-2 text-white">Bodega </h1>
        <!-- <label class="h3 text-white text-uppercase mt-2 ml-3">Listar / Registrar usuarios</label> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-sm-10 mb-xl-0">
      
      <div class="card card-gray shadow">
        <div class="card-header bg-transparent border-0">
          <div class="row align-items-center">
            <div class="col-6">
              <h3 class="mb-0"><i class="ni ni-single-copy-04"></i> Lista de Medicamentos</h3>
            </div>
            <div class="col-6 text-right d-flex align-items-center">
              <input #filter type="text" (keyup)="search($event.target.value)" class="form-control bg-secondary ml-auto mr-3" style="height: 35px; width:170px" placeholder="Buscar...">
              <button class="btn btn-default p-2" (click)="open(importModal, 'lg')" ngbTooltip="Importar Medicamentos"><i class="fas fa-cloud-upload-alt"></i> Importar</button>
              <button class="btn btn-default p-2" (click)="open(medicineModal, 'lg')" ngbTooltip="Nuevo Medicamento"><i class="fas fa-plus-square"></i> Nuevo</button>
            </div>
          </div>
        </div>
        
        <div class="table-responsive table-striped" style="height: 415px;">
          <table class="table align-items-center table-flush">
            <thead class="thead-gray">
              <tr>
                <th scope="col"><i class="ni ni-key-25"></i> Código</th>
                <th scope="col"><i class="fas fa-pills"></i> Nombre</th>
                <th scope="col"><i class="fas fa-balance-scale"></i> Unidad</th>
                <th scope="col"><i class="fas fa-exclamation-circle"></i> Stock</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let medicine of filter_medicines">
                <tr *ngIf="medicine.status == 'A'">
                  <th scope="row">{{medicine.cod_medicine}}</th>
                  <td class="text-uppercase">{{medicine.name}} <small class="text-danger">{{medicine.description}}</small></td>
                  <td>{{medicine.unit.name}}</td>
                  <td class="text-center">{{medicine.bodega.stock}} {{medicine.unit.abbreviation}}</td>
                  <td>
                    <a href="javascript:void(0)" class="mx-1 text-default" (click)="getMedicineById(medicine.id_medicine)" ngbTooltip="Editar" placement="right">
                      <i class="fas fa-pencil-alt" style="font-size: 18px;"></i>
                    </a>
                    <a href="javascript:void(0)" class="mx-1 text-danger" (click)="inactivateMedicine(medicine.id_medicine)" ngbTooltip="Eliminar" placement="right">
                      <i class="fas fa-trash-alt" style="font-size: 18px;"></i>
                    </a>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- medicineModal -->
<ng-template #medicineModal let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-title" [innerText]="(action==0) ? 'Crear Producto':'Editar Producto'"></h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> 
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row mt--4">
        <div class="col-md-8">
          <div class="row mb--3">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="cod_medicine">Código</label>
                <input type="text" class="form-control" name="cod_medicine"  id="cod_medicine" [(ngModel)]="medicine.cod_medicine">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="name">Nombre</label>
                <input type="text" class="form-control" name="name"  id="name" [(ngModel)]="medicine.name">
              </div>
            </div>
          </div>
          <div class="row mb--3">
            <div class="col">
              <div class="form-group">
                <label class="form-label" for="description">Descripción</label>
                <input type="text" class="form-control" name="description" id="description" [(ngModel)]="medicine.description">
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="unit">Unidad</label>
                <input type="text" class="form-control" name="unit" id="unit" [(ngModel)]="medicine.id_unit">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="stock">Stock</label>
                <input type="number" class="form-control" name="stock" id="stock" [(ngModel)]="medicine.bodega.stock" [min]="0">
              </div>
            </div>
          </div> -->
        </div>
        <div class="col-md-4 mt-5">
          <div class="row justify-content-center">
            <div class="col">
              <div class="card-profile-image">
                <a href="javascript:void(0)" class="rounded-circle" style="background-image: url('assets/img/theme/default-product.png')"></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex align-items-center">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="unit">Unidad</label>
            <input type="text" class="form-control" name="unit" id="unit" [(ngModel)]="medicine.id_unit">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="stock">Stock</label>
            <input type="number" class="form-control" name="stock" id="stock" [(ngModel)]="medicine.bodega.stock" [min]="0">
          </div>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-icon btn-default btn-block" (click)="saveMedicine()"><i class="fas fa-save mr-1"></i> Guardar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<!-- importModal -->
<ng-template #importModal let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-title">Importar Medicamentos</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> 
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <button type="button" class="btn btn-danger rounded-circle p-2" (click)="fileInput.click()">
          <i class="fas fa-cloud-upload-alt m-0"></i>
          <input #fileInput class="d-none" type="file" multiple="false" (change)="onFileChange($event)" (click)="fileInput.value=null">
        </button>
        <div class="col border-bottom">
          <label class="text-muted mb-0" [innerText]="(filename) ? filename:'Seleccione un archivo...'"></label>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="table-responsive table-striped" style="height: 350px;">
        <table id="tblImportUsers" class="table align-items-center table-flush">
          <thead class="thead-gray">
            <tr>
              <th scope="col"><i class="ni ni-key-25"></i> Código</th>
              <th scope="col"><i class="fas fa-pills"></i> Nombre</th>
              <th scope="col"><i class="fas fa-balance-scale"></i> Unidad</th>
              <th scope="col"><i class="fas fa-exclamation-circle"></i> Stock</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medicine of data" [ngClass]="{'text-red': medicine.invalid}">
              <th scope="row" [ngClass]="{'has-danger': !medicine.cod_medicine}">{{medicine.cod_medicine}} </th>
              <td class="text-uppercase" [ngClass]="{'has-danger': !medicine.name}">{{medicine.name}} <small>{{medicine.description}}</small></td>
              <td [ngClass]="{'has-danger': medicine.id_unit==0}">{{medicine.unit}} </td>
              <td [ngClass]="{'has-danger': !medicine.stock}">{{medicine.stock}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer mt--4">
    <button type="button" class="btn btn-icon btn-default" (click)="importMedicines()" [disabled]="!this.importSuccess"><i class="fas fa-save mr-1"></i> Guardar</button>
  </div>
</ng-template>

<ngx-spinner type = "ball-clip-rotate-pulse"></ngx-spinner>