<!-- <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/cover.jpg); background-size: cover; background-position: center top;"> -->
<div class="header bg-gradient-parrish pb-8 pt-5 pt-md-8">  <!-- Mask -->
  <span class="mask bg-gradient-parrish opacity-8"></span>
  <!-- Header container -->
  <!-- <a href="#!" class="btn btn-info">Admitir</a> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-10 d-flex align-items-center text-shadow">
        <h1 class="display-2 text-white">Perfil de Usuario <small><i class="fas fa-angle-right"></i></small></h1>
        <label class="h3 text-white text-uppercase mt-2 ml-3">{{ user.name }} {{user.first_ln}}</label>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
             <div class="card-profile-image">
              <a href="javascript:void(0)" class="rounded-circle" [style.background-image]="safe_photo"></a>
              <input #photoInput class="d-none" type="file" accept="image/*" multiple="false" (change)="onPhotoChange($event)" (click)="photoInput.value=null">
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-5 pb-0">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-success mr-4" (click)="photoInput.click()"><i class="ni ni-camera-compact"></i> Cambiar</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right"><i class="fas fa-trash"></i> Borrar</a>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">{{ user.course.name }}</span>
                  <span class="description">Curso</span>
                </div>
                <div>
                  <span class="heading">{{ user.blood_type }}</span>
                  <span class="description">T. Sangre</span>
                </div>
                <div>
                  <span class="heading">{{ user.age || 0 }}</span>
                  <span class="description">Edad</span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="user.allergies">
            <h3><i class="fas fa-exclamation-circle"></i> Enfermedades importantes</h3>
            <hr class="mt-0 mb-4" />
            <ul>
              <li *ngFor="let allergy of user.allergies">{{ allergy.name }}</li>
            </ul>
            <!-- <a href="javascript:void(0)">Show more</a> -->
          </div>
        </div>
      </div>
      <!-- <a href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/treatment']" class="btn btn-primary btn-block mt-3"><i class="fas fa-pills mr-2"></i>TRATAMIENTO</a> -->
      <a href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/dashboard']" class="btn btn-default btn-block mt-3"><i class="fas fa-hand-point-left mr-2"></i>VOLVER</a>    
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0"><i class="ni ni-single-copy-04"></i> Hoja de Vida</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-default"><i class="fas fa-user-edit"></i> Editar</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4"><i class="ni ni-single-02"></i> Información del Estudiante</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="user_name">Nombres</label>
                    <input type="text" name="user_name" id="user_name" class="form-control form-control-alternative" placeholder="Nombre del Estudiante" [(ngModel)]="user.name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="user_email">Correo</label>
                    <input type="email" name="user_email" id="user_email" class="form-control form-control-alternative" placeholder="email@example.com" [(ngModel)]="user.email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="user_first_ln">Primer apellido</label>
                    <input type="text" name="user_first_ln" id="user_first_ln" class="form-control form-control-alternative" placeholder="Primer apellido" [(ngModel)]="user.first_ln">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="user_second_ln">Segundo apellido</label>
                    <input type="text" name="user_second_ln" id="user_second_ln" class="form-control form-control-alternative" placeholder="Segundo apellido" [(ngModel)]="user.second_ln">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Familiar Information -->
            
            <div class="row align-items-center mb-4">
                <div class="col-8">
                  <h6 class="heading-small text-muted"><i class="fas fa-users"></i> Información familiar</h6>
                </div>
                <!-- <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary" ngbTooltip="Enviar Notificaciones" placement="left"><i class="ni ni-send"></i> Notificar</a>
                </div> -->
              </div>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-5">
                  <div class="form-group">
                    <label class="form-control-label" for="user_father_name">Nombre del padre</label>
                    <input type="text" name="user_father_name" id="user_father_name" class="form-control form-control-alternative" placeholder="Nombre del padre" value="{{ user.father ? user.father.name : '' }} {{ user.father ? user.father.first_ln : ''}}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="user_father_email">Correo</label>
                    <input type="email" name="user_father_email" id="user_father_email" class="form-control form-control-alternative" placeholder="email@example.com" value="{{ user.father ? user.father.email : '' }}">
                  </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                      <label class="form-control-label" for="user_father_phone">Teléfono</label>
                      <input type="number" name="user_father_phone" id="user_father_phone" class="form-control form-control-alternative" value="{{ user.father ? user.father.phone : '' }}">
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-5">
                  <div class="form-group">
                    <label class="form-control-label" for="user_mother_name">Nombre de la Madre</label>
                    <input type="text" name="user_mother_name" id="user_mother_name" class="form-control form-control-alternative" placeholder="Nombre de la madre" value="{{ user. mother ? user.mother.name : '' }} {{ user.mother ? user.mother.first_ln : '' }}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="user_mother_email">Correo</label>
                    <input type="email" name="user_mother_email" id="user_mother_email" class="form-control form-control-alternative" value="{{ user. mother ? user.mother.email : '' }}">
                  </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                      <label class="form-control-label" for="user_mother_phone">Teléfono</label>
                      <input type="number" name="user_mother_phone" id="user_mother_phone" class="form-control form-control-alternative" value="{{ user. mother ? user.mother.phone : '' }}">
                    </div>
                  </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Last Visits -->
            <h6 class="heading-small text-muted mb-4">Histórico de visitas</h6>
            <div class="pl-lg-4">
              <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                  <thead class="thead-gray">
                    <tr>
                      <th scope="col"><i class="ni ni-calendar-grid-58"></i> Fecha</th>
                      <th scope="col" class="text-right"><i class="ni ni-time-alarm"></i> Entrada</th>
                      <th scope="col" class="text-right"><i class="ni ni-time-alarm"></i> Salida</th>
                      <th scope="col"><i class="ni ni-align-left-2"></i> Causas</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="ingresos.length == 0"><td colspan="5" class="text-center">No existe registro de visitas</td></tr>
                    <tr *ngFor="let ingreso of ingresos">
                      <td scope="row" class="text-right">{{ ingreso.start_time | date }}</td>
                      <td class="text-right">{{ ingreso.start_time | date:'shortTime' }}</td>
                      <td class="text-right">{{ ingreso.end_time | date:'shortTime' }}</td>
                      <td><span *ngFor="let detail of ingreso.details; let i = index">{{detail.cause.description}}{{ ingreso.details.length > i+1 ? ', ' : ''}}</span></td>
                      <td><a href="javascript:void(0)" class="text-default" routerLinkActive="active" [routerLink]="['/treatment/', ingreso.id_ingreso, ingreso.id_student]" ngbTooltip="Detalles" placement="right"><i class="fas fa-eye"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- max-width: 198px; -->
