<div class="header bg-gradient-parrish pb-8 pt-5 pt-md-8">  <!-- Mask -->
  <span class="mask bg-gradient-parrish opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-10 d-flex align-items-center text-shadow">
        <h1 class="display-2 text-white">Accident Report Form <small><i class="fas fa-angle-right"></i></small></h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-white shadow">
        <div class="card-body">
          <form #accident_report id="accident_report">
            <div class="row align-items-center mt-4">
              <div class="col-4 text-center">
                <div class="d-flex mx-auto logo-kcp">
                </div>
              </div>
          
              <div class="col-4 text-center">
                <h2 class="mb-0">COLEGIO KARL C. PARRISH</h2>
                <h3 class="mb-0">ACCIDENT REPORT</h3>
              </div>
          
              <div class="col-4 text-right">
                <table class="table text-center ml-auto w-75">
                  <thead>
                    <th>DAY</th>
                    <th>MONTH</th>
                    <th>YEAR</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ today.getDate() }}</td>
                      <td>{{ today.getMonth() + 1 }}</td>
                      <td>{{ today.getFullYear() }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="pl-lg-4 pr-lg-1 pt-4">
              <p class="heading-small text-muted h6 mb-4">
                Please report accidents to the office inmediately. This report must be turned in on the same day as the accident.
                Teachers of early childhood grades will fill out this form for the child.
              </p>
              <div class="row">
                <div class="col-lg-7">
                  <div class="form-group">
                    <label class="form-control-label" for="pupil_name">Pupil's name</label>
                    <select #std class="form-control" name="pupil_name" id="pupil_name" [(ngModel)]="report.id_student" (change)="getStudentById(std.value)">
                      <option value="0">Select...</option>
                      <option *ngFor="let student of students" [value]="student.id_user">{{ student.name }} {{ student.first_ln }} {{ student.second_ln }}</option>
                    </select>
                    <!-- <ngx-select-dropdown style="font-size: 14px" #std name="pupil_name" [(ngModel)]="report.student" (change)="getStudentById()" [options]="students" [config]="{displayKey: 'full_name', search: true, height:'300px'}"></ngx-select-dropdown> -->
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <label class="form-control-label" for="class">Class</label>
                    <input type="text" name="class" id="class" class="form-control" [(ngModel)]="report.class">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7">
                  <div class="form-group">
                    <label class="form-control-label" for="address">Home address</label>
                    <input type="text" name="address" id="address" class="form-control" [value]="report.student.address ? report.student.address:''">
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <label class="form-control-label" for="phone">Phone</label>
                    <input type="text" name="phone" id="phone" class="form-control" [value]="report.student.phone ? report.student.phone:''">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7">
                  <div class="form-group">
                    <label class="form-control-label" for="date">Date of accident</label>
                    <!-- <input type="text" name="date" id="date" class="form-control" [(ngModel)]="report.date"> -->
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                      </div>
                      <input class="form-control datepicker" placeholder="Select" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" type="text" name="date" [(ngModel)]="report.date_format" 
                      [maxDate]="{year: today.getFullYear(), month: today.getMonth() + 1, day: today.getDate()}" (dateSelect)="formatDate()">
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group d-flex align-items-center">
                    <label class="form-control-label" for="time">Time:</label>
                    <ngb-timepicker class="mx-auto" name="time" [(ngModel)]="report.time" [meridian]="true" size="small"></ngb-timepicker>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="accident_desc">Description of accident</label>
                    <textarea class="form-control" name="accident_desc" id="accident_desc" rows="3" [(ngModel)]="report.accident_desc"></textarea>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="injury_desc">Description of injury</label>
                    <textarea class="form-control" name="injury_desc" id="injury_desc" rows="3" [(ngModel)]="report.injury_desc"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="witness1">Name of witness #1</label>
                    <input type="text" name="witness1" id="witness1" class="form-control" [(ngModel)]="report.witness1">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="witness2">Name of witness #2</label>
                    <input type="text" name="witness2" id="witness2" class="form-control" [(ngModel)]="report.witness2">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="pupil_doing">What was the pupil doing at the time of the accident?</label>
                    <textarea class="form-control" name="pupil_doing" id="pupil_doing" rows="2" [(ngModel)]="report.pupil_doing"></textarea>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="first_aide">Description nature of first aide provided</label>
                    <textarea class="form-control" name="first_aide" id="first_aide" rows="2" [(ngModel)]="report.first_aide"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="parent_notified">Was a parent notified?</label><br>
                    <ui-switch class="" labelOn="Yes" labelOff="No" name="parent_notified" [(ngModel)]="report.parent_notified"></ui-switch>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <label class="form-control-label" for="how_notified">How?</label>
                    <input type="text" name="how_notified" id="how_notified" class="form-control" [(ngModel)]="report.how_notified">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group d-flex align-items-center">
                    <label class="form-control-label" for="time_notified">Time: </label>
                    <ngb-timepicker class="mx-auto" name="time_notified" [(ngModel)]="report.time_notified" [meridian]="true" size="small"></ngb-timepicker>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7">
                  <div class="form-group">
                    <label class="form-control-label" for="cust_statement">Statement of custodian, if appropiate</label>
                    <textarea class="form-control" name="cust_statement" id="cust_statement" rows="2" [(ngModel)]="report.cust_statement"></textarea>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <label class="form-control-label" for="ambulance_called">Was the ambulance or private physician called?</label>
                    <ui-switch class="" labelOn="Yes" labelOff="No" name="ambulance_called" [(ngModel)]="report.ambulance_called"></ui-switch>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="supply_details">Supply details</label>
                    <textarea class="form-control" name="supply_details" id="supply_details" rows="2" [(ngModel)]="report.supply_details"></textarea>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="super_statement">Statement of school supervisor</label>
                    <textarea class="form-control" name="super_statement" id="supply_details" rows="2" [(ngModel)]="report.super_statement"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7">
                  <div class="form-group">
                    <label class="form-control-label" for="child_picker">Person who picked up the child</label>
                    <input type="text" name="child_picker" id="child_picker" class="form-control" [(ngModel)]="report.child_picker">
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group d-flex align-items-center">
                    <label class="form-control-label" for="pick_time">Time: </label>
                    <ngb-timepicker class="mx-auto" name="pick_time" [(ngModel)]="report.pick_time" [meridian]="true" size="small"></ngb-timepicker>
                  </div>
                </div>
              </div>
              <div class="row mt-6">
                <div class="col-lg-4">
                  <div class="form-group">
                    <div style="border-bottom: 1px solid #9D9EA0"></div>
                    <label class="form-control-label">School doctor</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <button class="btn btn-default float-right" (click)="saveReport()"><i class="fas fa-file-pdf mr-2"></i>Save PDF</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner type="ball-clip-rotate-pulse"></ngx-spinner>