.logo-kcp {
    background-image: url(../../../assets/img/brand/logo-KCP.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}