<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">

  <!-- Mask -->
  <span class="mask bg-gradient-parrish opacity-8"></span>

  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">INGRESOS</h5>
                  <span class="h2 font-weight-bold mb-0">{{ dashboard.current_week }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-2 mb-0 text-muted text-sm">
                <span class="text-info mr-2"><i class="ni ni-curved-next"></i></span>
                <span class="text-nowrap">Semana actual</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Estudiantes en Espera</h5>
                  <span class="h2 font-weight-bold mb-0">{{ dashboard.pending }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                    <i class="ni ni-ambulance"></i>
                  </div>
                </div>
              </div>
              <p class="mt-2 mb-0 text-muted text-sm">
                <span class="text-orange mr-2"><i class="fas fa-history"></i></span>
                <!-- <span class="text-nowrap">Último ingreso: {{ dashboard.last.start_time | dateAgo | translate }}</span> -->
                <span class="text-nowrap">Último ingreso: {{ dashboard.last.start_time | date: 'shortTime' }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Hora y Fecha</h5>
                  <span class="h2 font-weight-bold mb-0">{{ dashboard.clock.hours }}:{{ dashboard.clock.minutes }} {{ dashboard.clock.period }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-default text-white rounded-circle shadow">
                    <i class="fas fa-clock"></i>
                  </div>
                </div>
              </div>
              <p class="mt-2 mb-0 text-muted text-sm">
                <span class="text-default mr-2"><i class="ni ni-calendar-grid-58"></i></span>
                <span class="text-nowrap">{{ dashboard.clock.day | titlecase }}, {{ dashboard.clock.day_month }} / {{ dashboard.clock.year }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col mb-5 mb-xl-0">

      <div class="card card-gray shadow">
        <div class="card-header bg-transparent border-0">
          <div class="row align-items-center">
            <div class="col d-flex align-items-center">
              <i class="ni ni-ambulance mr-2"></i>
              <h3 class="mb-0">Estudiantes en Enfermería</h3>
            </div>
            <div class="col text-right">
              <button href="#!" class="btn btn-default" (click)="open(authModal, 'sm')"><i class="fas fa-sign-in-alt"></i> Nuevo ingreso </button>
            </div>
          </div>
        </div>
        <div class="table-responsive table-striped" style="height: 445px;">
          <table class="table align-items-center table-flush">
            <thead class="thead-gray">
              <tr>
                <th scope="col"><i class="ni ni-single-02"></i> Estudiante</th>
                <th scope="col" class="text-center"><i class="ni ni-hat-3"></i> Curso</th>
                <th scope="col"><i class="ni ni-check-bold"></i> Estado</th>
                <th scope="col"><i class="ni ni-align-left-2"></i> Causas</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let ingreso of ingresos">
                <tr *ngIf="ingreso.status != 'Atendido'">
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/user-profile/', ingreso.id_student]" class="avatar rounded-circle mr-3" [style.background-image]="ingreso.student.save_photo"></a>
                      <!-- <a href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/user-profile/', ingreso.id_student]" class="avatar rounded-circle mr-3" style="background-image: url('../assets/img/theme/default-profile.png')"></a> -->
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{ ingreso.student.name }} {{ ingreso.student.first_ln }}</span>
                      </div>
                    </div>
                  </th>
                  <td class="text-center">{{ ingreso.student.course.name }}</td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i [ngClass]="(ingreso.status == 'En tratamiento')?'bg-success':'bg-warning'"></i> {{ ingreso.status }}
                    </span>
                  </td>
                  <td>
                    <span *ngFor="let detail of ingreso.details; let i = index">{{detail.cause.description}}{{ ingreso.details.length > i+1 ? ', ' : ''}}</span>
                  </td>
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-gray" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/treatment/', ingreso.id_ingreso, ingreso.id_student]"><i class="fas fa-pills"></i>Tratamiento</a>
                        <a href="javascript:void(0)"><button type="button" class="dropdown-item" (click)="notify(ingreso.id_ingreso)" [disabled]="ingreso.notified"><i class="fas fa-envelope-open-text"></i>Enviar notificaciones</button></a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="alta(ingreso.id_ingreso)"><i class="ni ni-like-2"></i>Dar de alta</a>
                        <a class="dropdown-item text-danger" href="javascript:void(0)" (click)="eliminar(ingreso.id_ingreso)"><i class="fas fa-user-times"></i>Eliminar de la lista</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-xl-7 mb-5 mb-xl-0">
      <div class="card shadow card-gray">
        <div class="card-header bg-transparent border-0">
          <div class="row align-items-center">
            <div class="col d-flex align-items-center">
              <i class="fas fa-history mr-2"></i>
              <h3 class="mb-0">Últimas visitas</h3>
            </div>
            <div class="col text-right">
              <!-- <a href="#!" class="btn btn-sm btn-primary"><i class="far fa-eye"></i> Ver todos</a> -->
            </div>
          </div>
        </div>
        <div class="table-responsive" style="max-height: 315px;">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
              <thead class="thead-gray">
                <tr>
                  <th scope="col"><i class="ni ni-single-02"></i> Estudiante</th>
                  <th scope="col" class="text-right"><i class="ni ni-calendar-grid-58"></i> Fecha</th>
                  <th scope="col" class="text-right"><i class="ni ni-time-alarm"></i> Entrada</th>
                  <th scope="col" class="text-right"><i class="ni ni-time-alarm"></i> Salida</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let ingreso of ingresos">
                  <tr *ngIf="ingreso.status == 'Atendido'">
                    <th scope="row">{{ingreso.student.name}} {{ingreso.student.first_ln}}</th>
                    <td class="text-right">{{ ingreso.start_time | date }}</td>
                    <td class="text-right">{{ ingreso.start_time | date:'shortTime' }}</td>
                    <td class="text-right">{{ ingreso.end_time | date:'shortTime' }}</td>
                    <td><a href="javascript:void(0)" class="text-default" routerLinkActive="active" [routerLink]="['/treatment/', ingreso.id_ingreso, ingreso.id_student]" ngbTooltip="Detalles" placement="right"><i class="fas fa-eye"></i></a></td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="col-xl-5">
      <div class="card shadow card-gray">
        <div class="card-header bg-transparent border-0">
          <div class="row align-items-center">
            <div class="col d-flex align-items-center">
              <i class="ni ni-app mr-2"></i>
              <h3 class="mb-0">Bodega</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-default"><i class="fas fa-chevron-circle-left mr-1"></i> Ver más</a>
            </div>
          </div>
        </div>
        <div class="table-responsive" style="max-height: 315px;">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-gray">
              <tr>
                <th scope="col"><i class="ni ni-tag"></i> Nombre</th>
                <th scope="col"><i class="fas fa-exclamation-circle"></i> Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medicine of medicines">
                <th scope="row">{{ medicine.name }}</th>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">{{ medicine.bodega.stock }} </span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar" [ngClass]="{'bg-gradient-info': medicine.bodega.stock > 80, 'bg-gradient-warning': medicine.bodega.stock < 80, 'bg-gradient-danger': medicine.bodega.stock < 20}" role="progressbar" [attr.aria-valuenow]="medicine.bodega.stock" aria-valuemin="0" aria-valuemax="100" [style.width.%]="medicine.bodega.stock"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #authModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title"><i class="fas fa-sign-in-alt mr-2"></i> Ingresar a Enfermería</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> 
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      Por favor coloque su huella en el lector...
      <div class="row d-flex align-items-center my-4">
        <div class="text-gray mx-auto">
          <i class="fas fa-fingerprint" style="font-size: 80px"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" name="modal_user_id" placeholder="ID" [(ngModel)]="user_modal.id">
          </div>
        </div>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" name="modal_user_name" placeholder="Nombre del estudiante" [(ngModel)]="user_modal.name">
          </div>
        </div>
      </div>
    </form>
    <hr/>
    <div class="text-center">
      <div class="mb-3">
        <small class="text-muted">Ir a: </small><br>
      </div>
      <a href="javascript:void(0)" class="btn btn-sm btn-outline-primary" (click)="ingresar(user_modal.id, '/user-profile/'); modal.dismiss('Cross click')">
        <i class="ni ni-single-copy-04 mr-1"></i> Hoja de Vida
      </a>
      <a href="javascript:void(0)" class="btn btn-sm btn-outline-primary" (click)="ingresar(user_modal.id, '/treatment/'); modal.dismiss('Cross click')">
        <i class="fas fa-pills mr-1"></i> Tratamiento
      </a>
    </div>
  </div>
</ng-template>

<ngx-spinner type = "ball-clip-rotate-pulse"></ngx-spinner>